<p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/PEO-octocat-1.svg/200px-PEO-octocat-1.svg.png">
<!--
  <%= form_tag({controller: "profiles", action: "search", authenticity_token: "ENV[GITHUB_TOKEN]"}, method: "get", class: "fancy_form") %>
-->
<form action="http://github.com">
  <label for="name_field">Github username:</label>
  <input name="name"></input>
</form>
</p>
